@model dynamic

@*Корневая страница сервиса*@

<!doctype html>
<html>
    <head>
        <title>Final</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
    </head>
<body>
<h3>Вызов Веб сервиса через:</h3>
<a href="~/DbController/CS">CS</a>
<a href="~/DbController/JS">JS</a>
</body>
</html>
